<!DOCTYPE html>
<html>
  <head>
    <title>Flagpole Demo App</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto" rel="stylesheet">
    <style type="text/css">
      html {
        background-image: url(<%= locationImageUrl %>);
        background-size: cover;
        height: 100vh;
      }

      body {
        font-family: 'Roboto', sans-serif;
        background-color: <%= backgroundColor %>;
        margin: 0;
        height: 100%;
      }

      h1 {
        font-family: 'Pacifico', cursive;
        font-size: 4em;
        color: #fff;
        margin-top: 200px;
      }

      h2 {
        color: <%= accentColor %>;
        font-size: 2em;
      }

      ul {
        color: #fff;
        font-size: 1em;
        list-style: none;
        margin: 2em 0;
        padding: 2em;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      li {
        text-align: center;
        flex-grow: 0;
        margin: 0 2em;
      }

      li img {
        display: block;
        width: 200px;
        margin-bottom: 1em;
      }

      button {
        font-size: 1em;
        padding: 1em;
      }

      #page-container {
        padding: 2em 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="page-container">
      <h1>Visit <%= locationName %></h1>
      <h2>Amenities include:</h2>
      <ul>
        <%- amenities.map(a => `<li><img src="${ a.src }" />${ a.text }</li>`).join('\n') %>
      </ul>
      <button type="button">Take a Trip ↗</button>
    </div>
  </body>
</html>
